# Категория, Подкатегория, Цена от, Цена до, Шаг

, Комплект тормозов, 1000, 2000, 400
# находит: 128635:Тормозная система → 8156:Комплект тормозов

, Средство защиты растений, 1000, 2000, 400
# находит: 128773:Удобрения, химикаты и средства защиты → 4078:Средство защиты растений

Диваны и кресла, Кресла, 1000, 2000, 400
# находит: 129028:Диваны и кресла → 1893:Кресло

8421, Кресла, 1000, 2000, 400
# находит: 8421:Мебель → 1893:Кресло

, Гирлянды, 1000, 2000, 400
# находит: 63089:Украшения и декорации → 264:Гирлянда

Для новорожденных, 94, 1000, 2000, 400
# находит: 8225:Для новорожденных → 94:Ботинки

Мебель, Кресла, 1000, 2000, 400
# находит три варианта, мониторит все три независимо (параметр max_matched_subcategories):
#   60600:Мебель → 1893:Кресло
#   62827:Мебель → 1893:Кресло
#   8421:Мебель → 1893:Кресло

, Кресла, 1000, 2000, 400
# находит 4 варианта, не берёт в работу никакой из них (max_matched_subcategories), посылает отчёт об этом админам

, Что-то несуществующее, 1000, 2000, 400
# ничего не находит, посылает отчёт об этом админам
