# Категория, Подкатегория, Цена от, Цена до, Шаг

Автомобильные товары, Колпаки на колеса, 200, 5000, 100
, Клапаны регулирующие садовые, 300, 3000, 100
Украшения и декор, Гирлянды, 100, 5000, 300
, Футболки, 50, 500, 10
Украшения и декор, Что-то несуществующее, 100, 5000, 300
Все для садоводства, Клапаны регулирующие садовые, 300, 3000, 100
