# Категория, Предмет, Цена от, Цена до, Шаг

Автомобильные товары, Колпаки на колеса, 200, 5000, 100
Белье, Термофутболки, 300, 4000, 200
Все для садоводства, Клапаны регулирующие садовые, 300, 3000, 100
