###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:wb_sppmon
zodbconn.uri = file://%(here)s/../zodb-data/Data.fs?connection_cache_size=20000

# file with email addresses where to send script errors
admin_emails = %(here)s/admin_emails.lst

# file with email addresses where to send SPP changes
report_emails = %(here)s/report_emails.lst

# file with WB article numbers to monitor
product_articles = %(here)s/product_articles.lst

# file with WB product categories to monitor
product_categories = %(here)s/product_categories.lst


###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, wb_sppmon

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_wb_sppmon]
level = INFO
handlers = console
qualname = wb_sppmon

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
